@font-face {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Rubik-Medium'), 
       url('../fonts/Rubik-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Rubik-Regular'), 
       url('../fonts/Rubik-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('DMSans-Bold'), 
       url('../fonts/DMSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('DMSans-Regular'), 
       url('../fonts/DMSans-Regular.woff') format('woff');
}
