// html,
// body{
//   height: 100%;
// }

// .wrapper{
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
// }

// .main{
//   flex: 1 1 auto;
// }

.container {
  max-width: 1790px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

.main-container{
  max-width: 1190px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}


svg path {
    
    fill:#a3bbc8;
    }