// html,
// body{
//   height: 100%;
// }

// .wrapper{
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
// }

// .main{
//   flex: 1 1 auto;
// }

.container {
  max-width: 1790px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

.main-container{
  max-width: 1190px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

  .title{
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
    padding-bottom: 30px;
  }
  .filter{
    margin-bottom: 75px;
  }

  .filter-link{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #8b8b8b;
    @extend %dmsans-700;
    margin-right: 30px;
  }
  .filter-link:last-child{
    margin-right: 0;
  }
  .filter-link--active{
    color: #292929;
  }
