$footer-color-text: #7b7b7b;
$top-slider-bg: #fcd7b6;
$color-btn: #a3bbc8;
$color-product-title: #243f4d;
$color-design-title: #191919;

%background-img{
  background-position: right center;
  background-size: 50%;
  background-repeat: no-repeat;
}

%rubick-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}
%rubick-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%rubick-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubick-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}
%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}
%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}