$footer-color-text: #7b7b7b;


%rubick-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}
%rubick-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}
%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}