@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 40px 10px 40px 10px;
  max-width: 1790px;
  margin: 0 auto;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu{
  margin-left: auto;
  &__list{
    display: flex;
  }
  &__item + .menu__item{
    margin-left: 30px;
  }
  &__item-link{
    @extend %rubick-700;
    font-size: 15px;
    font-weight: 700;
    color: #436372;
  }
}

.user-nav{
  display: flex;
  justify-content: center;
  min-width: 180px;
  background-color: #fcd7b6;
  padding: 20px 0 12px 0;
  border-radius: 50px;
  &__favorites{
    position: relative;
    margin-right: 40px;
  }
  &__favorites::after{
    content: '';
    position: absolute;
    top: -8px;
    right: -20px;
    width: 1px;
    height: 30px;
    background-color: #fff;
  }
  &__goods{
    position: relative;
  }
  &__num{
    position: absolute;
    top: -10px;
    left: 11px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    width: 18px;
    height: 18px;
    line-height: 18px;
  }
}

.search{
  margin-left: auto;
  padding: 17px 19px 17px 18px;
  border: none;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.app{
  width: 50px;
  height: 50px;
  background-color: #a3bbc8;
  border: none;
  border-radius: 50%;
  margin-left: 20px;
}

// top-slider

.top-slider{
  &__content{
    max-width: 440px;
  }
  &__item{
    display: flex !important;
    justify-content: space-around;
  }
  &__inner{
    padding-top: 220px;
    // padding-right: 50px;
    padding-bottom: 47px;
    background-color: $top-slider-bg;
  }
  &__item-title{
    font-size: 72px;
    color: #243f4d;
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
  }
  &__item-subtitle{
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    @extend %rubick-400;
    margin-bottom: 63px;
  }
  &__item-btn{
    position: relative;
    border: none;
    background-color: $color-btn;
    padding: 23px 100px 23px 29px;
    color: #fff;
    font-size: 15px;
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
    cursor: pointer;
  }
  &__item-btn-img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
  }

}

// slick
.slick-list .slick-slide {
  width: 1790px;
}
.slick-dots{
  display: flex;
  justify-content: center;
  li{
    button{
      background-color: rgb(255, 255, 255);
      opacity: 0.302;
      border-radius: 50%;
      border: none;
      width: 30px;
      height: 29px;
      margin-right: 10px;
      outline: none;
      font-size: 11px;
      color: #243f4d;
      @extend %rubick-700;
    }
    &.slick-active{
      button{
        opacity: 1;
      }
    }
  }
}

// services
.services{
  
  &__inner{
    display: flex;
    justify-content: space-between;
    height: 170px;
    background-color: #fef7f0;
  }
  &__item{
    display: flex;
    justify-content: center;
    width: 570px;
    align-items: center;
    border-right: 2px solid #e8e4df;
  }
  &__item:last-child{
    border-right: none;
  }
  &__item-img{
    position: relative;
  }
  &__item-img::after{
    content: '';
    position: absolute;
    right: -7px;
    bottom: -4px;
    border-radius: 50%;
    background-color: rgb(163, 187, 200);
    opacity: 0.341;
    width: 21px;
    height: 20px;
  }
  &__item-content{
    width: 205px;
    margin-left: 25px;
  }
  &__item-content-title{
    font-size: 18px;
    line-height: 27px;
    color: #414141;
    @extend %dmsans-700;
    margin-bottom: 4px;
  }
  &__item-content-subtitle{
    font-size: 16px;
    color: #585858;
    @extend %dmsans-400;
  }
}

// product
.product{
  padding-top: 70px;
  margin-bottom: 100px;
  &__main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__main-title{
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
    margin-bottom: 30px;
  }
  &__main-filter{
    margin-bottom: 75px;
  }
  &__main-link{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #8b8b8b;
    @extend %dmsans-700;
    margin-right: 30px;
  }
  &__main-link:last-child{
    margin-right: 0;
  }
  &__main-link--active{
    color: #292929;
  }
}


.product-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  &__content{
    text-align: center;
    position: absolute;
    bottom: 34px;
  }
  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 380px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    
    &:hover{
      .product-items__item-box{
        opacity: 1;
      }
    }
  }
  &__item-box{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 25%;
    right: 0;
    bottom: 0;
    transition: all .5s;
  }
  
  &__box-img{
    padding: 14px;
  }
  &__box-link{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s;
    svg{
      display: block;
      padding: 14px;
    }
  }
  &__box-link:hover{
    background-color: #a3bbc8;
      path{
        fill: #fff;
      }
  }

  
  &__box-link:last-child{
    margin-right: 0;
  }
  &__content-title{
    font-size: 16px;
    @extend %dmsans-500;
    color: $color-product-title;
    line-height: 32px;
  }
  &__content-price{
    font-size: 16px;
    @extend %dmsans-700;
    color: #a3bbc8;
  }

}
// product popular
.product-popular__items{
  padding-top: 170px;
  display: flex;
  justify-content: space-between;
  .product-popular__item{
    position: relative;
    background-color: #fcd7b6;
    width: 870px;
    height: 390px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    &-main{
      display: flex;
      flex-direction: column;
      margin-top: 250px;
      max-width: 333px;
      margin-left: 15px;
    }
    &-title{
      font-size: 26px;
      @extend %dmsans-700;
      color: $color-product-title;
      margin-bottom: 25px;
    }
    &-text{
      font-size: 16px;
      @extend %rubick-400;
      color: $color-product-title;
      margin-bottom: 30px;
    }
    &-content{
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 80px;
      
    }
    &-btn{
      position: relative;
      width: 83px;
      color: #436372;
      font-size: 15px;
      @extend %rubick-400;
      background-color: transparent;
      border-style: solid;
      border-width: 1px;
      border-color: #436372;
      border-radius: 5px;
      padding: 20px 80px 25px 17px;
      svg{
        position: absolute;
        right: 17px;
        top: 39%;
      }
    }
  }
   .product-popular__item:last-child{
      margin-right: 0;
    }
  
}


// FOOTER
.footer{
  padding-top: 76px;
  padding-bottom: 40px;
  &__top{
    border-bottom: 1px solid #dae4e9;
    padding-bottom: 74px;
  }
  &__top-inner{
    display: flex;
    justify-content: center;
  }
  &__top-item{
    width: 200px;
    margin-right: 100px;
  }
  &__contact{
    margin-top: 25px;
    
  }
  &__contact-item{
    margin-bottom: 18px;
    @extend %rubick-400;
    font-size: 14px;
    color: $footer-color-text;
  }
  &__services-title{
    @extend %dmsans-700;
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__services-item{
    margin-bottom: 18px;
  }
  &__services-link{
    @extend %rubick-400;
    font-size: 14px;
    color: $footer-color-text;
  }
  &__account-title{
    @extend %dmsans-700;
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__account-item{
    margin-bottom: 18px;
  }
  &__account-link{
    @extend %rubick-400;
    font-size: 14px;
    color: $footer-color-text;
  }
  &__newsletter-title{
    @extend %dmsans-700;
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__newsletter-text{
     @extend %rubick-400;
    font-size: 14px;
    color: $footer-color-text;
    margin-bottom: 25px;
  }

  &__bottom{
    padding-top: 33px;
  }
}

.footer__top-form{
  display: flex;
  .footer__top-input{
    width: 170px;
    border: none;
    background-color: #fef7f0;
    padding: 15px;
    @extend %dmsans-400;
    outline: none;
  }
  .footer__top-btn{
    border: none;
    padding: 0 18px 0 18px;
    background-color: #a3bbc8;
    cursor: pointer;
    @extend %dmsans-400;
    color: #fff;
  }
}

.footer__bottom{
  display: flex;
  justify-content: space-between;
  &-copy{
    color: #7b7b7b;
  }
}
.footer-nav{
  &__list{
    display: flex;
  }
  &__menu-item{
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid #7b7b7b;
  }
  &__link{
    font-size: 14px;
    color: #7b7b7b;
    @extend %rubick-400;
  }
  &__menu-item:last-child{
    margin-right: 0;
    padding-right: 0;
    border: none;
  }
  
}




















@import 'media';