<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.min.css">
  <title>Glee</title>
</head>
<body>
<div class="wrapper">

 <div class="main">
  {% include 'app/module/_header/_header.html' %}

  {% include 'app/module/_top-slider/_top-slider.html' %}

  {% include 'app/module/_services/_services.html' %}

  {% include 'app/module/_product/_product.html' %}

  {% include 'app/module/_design/_design.html' %}

  {% include 'app/module/_promo/_promo.html' %}

{% include 'app/module/_insights/_insights.html' %}

{% include 'app/module/_partner/_partner.html' %}

{% include 'app/module/_footer/_footer.html' %}

</div>

<script src="js/main.min.js"></script>
</body>
</html>