.footer{
    padding-top: 76px;
    padding-bottom: 40px;
    &__top{
      border-bottom: 1px solid #dae4e9;
      padding-bottom: 74px;
    }
    &__top-inner{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__top-item{
      width: 200px;
      margin-right: 100px;
    }
    &__contact{
      margin-top: 25px;
      
    }
    &__contact-item{
      margin-bottom: 18px;
      @extend %rubick-400;
      font-size: 14px;
      color: $footer-color-text;
    }
    &__services-title{
      @extend %dmsans-700;
      padding-top: 20px;
      margin-bottom: 30px;
      font-size: 16px;
      color: #1f2044;
      text-transform: uppercase;
    }
    &__services-item{
      margin-bottom: 18px;
    }
    &__services-link{
      @extend %rubick-400;
      font-size: 14px;
      color: $footer-color-text;
    }
    &__account-title{
      @extend %dmsans-700;
      padding-top: 20px;
      margin-bottom: 30px;
      font-size: 16px;
      color: #1f2044;
      text-transform: uppercase;
    }
    &__account-item{
      margin-bottom: 18px;
    }
    &__account-link{
      @extend %rubick-400;
      font-size: 14px;
      color: $footer-color-text;
    }
    &__newsletter-title{
      @extend %dmsans-700;
      padding-top: 20px;
      margin-bottom: 30px;
      font-size: 16px;
      color: #1f2044;
      text-transform: uppercase;
    }
    &__newsletter-text{
       @extend %rubick-400;
      font-size: 14px;
      color: $footer-color-text;
      margin-bottom: 25px;
    }
  
    &__bottom{
      padding-top: 33px;
    }
  }
  
  .footer__top-form{
    display: flex;
    .footer__top-input{
      width: 170px;
      border: none;
      background-color: #fef7f0;
      padding: 15px;
      @extend %dmsans-400;
      outline: none;
    }
    .footer__top-btn{
      border: none;
      padding: 0 18px 0 18px;
      background-color: #a3bbc8;
      cursor: pointer;
      @extend %dmsans-400;
      color: #fff;
    }
  }
  
  .footer__bottom{
    display: flex;
    justify-content: space-between;
    &-copy{
      color: #7b7b7b;
    }
  }
  .footer-nav{
    &__list{
      display: flex;
    }
    &__menu-item{
      padding-right: 12px;
      margin-right: 12px;
      border-right: 1px solid #7b7b7b;
    }
    &__link{
      font-size: 14px;
      color: #7b7b7b;
      @extend %rubick-400;
    }
    &__menu-item:last-child{
      margin-right: 0;
      padding-right: 0;
      border: none;
    }
    
  }