// top-slider

.top-slider{
    &__content{
      max-width: 440px;
    }
    &__item{
      display: flex !important;
      justify-content: space-around;
    }
    &__inner{
      padding-top: 220px;
      // padding-right: 50px;
      padding-bottom: 47px;
      background-color: $top-slider-bg;
    }
    &__item-title{
      font-size: 72px;
      color: #243f4d;
      font-family: 'Rubik-Medium', sans-serif;
      font-weight: 500;
      margin-bottom: 25px;
    }
    &__item-subtitle{
      font-size: 18px;
      line-height: 30px;
      color: #436372;
      @extend %rubick-400;
      margin-bottom: 63px;
    }
    &__item-btn{
      position: relative;
      border: none;
      background-color: $color-btn;
      padding: 23px 100px 23px 29px;
      color: #fff;
      font-size: 15px;
      font-family: 'Rubik-Medium', sans-serif;
      font-weight: 500;
      cursor: pointer;
    }
    &__item-btn-img{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
    }
  
  }
  
  // slick
  .slick-list .slick-slide {
    width: 1790px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      button{
        background-color: rgb(255, 255, 255);
        opacity: 0.302;
        border-radius: 50%;
        border: none;
        width: 30px;
        height: 29px;
        margin-right: 10px;
        outline: none;
        font-size: 11px;
        color: #243f4d;
        @extend %rubick-700;
      }
      &.slick-active{
        button{
          opacity: 1;
        }
      }
    }
  }